build/
*.o
*.a
*.dylib
*.so
*.dll
*.in
compile_commands.json
cppcheck.xml
*.pch
*.opk
*.exe
*.d88
*.dirstamp
compile
config.guess
config.log
config.sub
config.status
configure
install-sh
Makefile.in
missing
stamp-h1

.cache
